body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: slategray;
  overflow-y: hidden;
}

#canvasContainer {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  width: 70vw;
  height: 100vh;
  /* margin-bottom: 20px; */
  background-color: whitesmoke;
}

#imageContainer {
  text-align: center;
}

input[type="file"] {
  display: block;
  margin: 0 auto;
  font-size: 25px;
  border-radius: 7px;
  border-color: rgb(163, 163, 163);
  background-color: rgb(163, 163, 163);
}

button {
  display: block;
  margin: 0 auto;
  font-size: 25px;
  border-radius: 7px;
  border: 3px solid;
  border-color: rgb(163, 163, 163);;
  background-color: rgb(163, 163, 163);
  cursor: pointer;
}

button:active {
  background-color: rgb(146, 146, 146);
}

#header {
  width: 30vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 25px;
}